<h1>All Photos</h1>

<p>
    <a href = "/photos/new">Add a new photo</a>
</p>

<p>
    <!--Display photo-->
    <!--    <img src=pics>-->
    <!--Show details button-->
    <!--    <button>Show details</button>-->
    <!--Edit button-->
    <!--    <button>Edit</button>-->
    <!--Delete button-->
    <!--    <button>Delete</button>-->
    
</p>