<h1>Add a new photo</h1>

<form action="/create_photo">
  <div>
    <label for="Image URL">
        <b>Image URL</b>
    </label>
    
    <input id="Image URL" type="text" name="the_source">
  </div>
  
  <div>
    <label for="Caption">
        <b>Caption</b>
    </label>
    
    <input id="Caption" type="text" name="the_caption">
  </div>
  
  <button>Create photo</button>
</form>